#myCanvas
{
    background-color :rgb(255, 255, 255);
    margin : 100px 100px 100px 200px;
    
}

.color
{
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-top: 0px;
}

#textsize
{
    border-radius: 5px;
    background-color: rgb(241, 231, 227);
    text-align: center;
    color: rgb(87, 75, 72);
    width: 150px;
    height: 25px;
    margin-left: 23px;
    margin-top: 0px;
}

#font
{
    border-radius: 5px;
    background-color: rgb(241, 231, 227);
    text-align: center;
    color: rgb(87, 75, 72);
    width: 150px;
    height: 25px;
    margin-left: 23px;
    margin-top: 0px;
}

#text
{
    border-radius: 5px;
    background-color: rgb(241, 231, 227);
    width: 150px;
    height: 25px;
    margin-left: 23px;
    margin-top: 0px;
}

#Reset
{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 0px;
}

#Gradient
{
    margin-left: 50px;
    margin-top: 0px;
}

.upload_icon
{
    width: 100px;
    height: 100px;
    margin : 0px 0px 0px 0px;
}

.slider
{
    -webkit-appearance: none;
    width: 150px;
    height: 10px;
    margin-left: 23px;
    background: #eee3e3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover 
{
    opacity: 1;
}
  
.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: rgb(233, 199, 190);
    cursor: pointer;
}
  